.edit-action {
  border: 1px solid black;
  color:deeppink;
  padding: 10px 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: none;
  transition: 0.2s ease-in-out;
  font-family: "AgrandirText-Bold";
  text-align: center;
  &:hover {
    background: black;
    color: white;
    border: 1px solid black;
  }
}

a {
  text-decoration: none;
  color: deeppink;
}

.listings-wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  & .my-reservation-card {
    width: 300px;
  }
}

.delete-action {
  border: 1px solid black;
  color:deeppink;
  padding: 10px 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: none;
  transition: 0.2s ease-in-out;
  font-family: "AgrandirText-Bold";
  box-sizing: border-box;
  // width: 90px;
  // height: 40px;
  // display: inline-block;
  text-align: center;
  &:hover {
    background: black;
    color: white;
    border: 1px solid black;
  }
}
