table {
  width: 80%;
  border-collapse: collapse;
  background-color: white;
  color: #7928CA;
  justify-content: center;
  border-spacing: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #f4abcf;
}
th {
  background-color:#f4abcf;
}

.incoming-reservations {
  font-size: 80px;
  color: #7928CA;
  background-color: #f4abcf;
  padding: 10px;
  caption-side: top;
  text-align: center;
}

