table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  color: #7928CA;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #f4abcf;
}

th {
  background-color:#f4abcf;
}

h1 {
  font-size: 80px;
  color: #7928CA;
  background-color: #f4abcf;
  padding: 10px;
  caption-side: top;
  text-align: center;
}
