table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  color: purple;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid pink;
}

th {
  background-color: pink;
}

h1 {
  font-size: 80px;
  color: white;
  background-color: pink;
  padding: 10px;
  caption-side: top;
  text-align: center;
}
