<body>
<div class="container-reservation">
<h1 class="details-reservation">Reserved Unicorns</h1>
  <div class="row">
    <div class="col-content">
      <div class="row bg-light py-3">
        <div class="col">User</div>
        <div class="col">Unicorn</div>
        <div class="col">Date</div>
        <div class="col">Approved</div>
      </div>
    </div>
  </div>

  <% @reservations.each do |reservation|%>
  <% if reservation.user.owner == true %>
    <div class="row py-3">
  <div class="col"> <%= reservation.user.first_name %></div>
  <div class="col"> <%= reservation.unicorn.name %></div>
  <div class="col"> <%= reservation.date %></div>
  <div class="col"><%= reservation.approved ? 'Yes' : 'No' %></div>
  <% end %>
  <% end %>
</div>
</body>
