.my-reservation-card {
  display: flex;
  flex-direction: column;
  color: $pink;
  border: 1px black solid;
  padding: 10px;
  border-radius: 3px;
  background-size: cover;
}

.my-reservation-card img {
  border-radius: 3px;
  margin-bottom: 6px;
  width: 100%;
  height: 150px;
  // object-fit: cover;
}

.my-reservation-card p {
  margin: 0px;
}
