.unicorn-card {
  display: flex;
  flex-direction: column;
  color: $pink;
  border-radius: 3px;
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  padding: 10px;
  border: 1px solid black;

  &:hover {
    transform: scale(1.1) rotate(2deg);
  }
}

.unicorn-card img {
  border-radius: 3px;
  margin-bottom: 6px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.unicorn-card-text p {
  margin: 0px;
}

.unicorn-key-info {
  display: flex;
  justify-content: space-between;
}

.unicorn-price-container {
  display: flex;
  & .price-bold {
    font-weight: 700;
  }
}
